# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Environment files
.env
.env.*.local

# Build / runtime
dist/
build/
.cache/
coverage/

# Uploads (if you store images/files locally)
uploads/

# Editor & OS junk
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
